name: API Testing

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Run Tests
        run: mvn clean test -DsuiteXmlFile=suite.xml

      - name: Upload Report
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: target/surefire-reports/
