name: Java CI with Maven

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Automation Repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Clone Backend Repository
        run: |
          git clone https://x-access-token:${{ secrets.PAT_TOKEN }}@github.com/Dipak19Aug/SmartDepositAPI.git
          cd SmartDepositAPI
          npm install

      - name: Start Backend Server
        run: |
          cd SmartDepositAPI
          nohup node app.js &
          sleep 15

      - name: Run Automation Tests
        run: mvn -B clean test
